*{
    margin: 0%;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #f8fafc;
    color: #1e293b;
}

.head{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    padding: 10px 30px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-right: 15px;
}



.Navegador{
    padding-right: 10px;
    font-weight: 800;
}
.Navegador a{
    
    padding: 68px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: initial;
}

.Navegador a{
    padding: 12px 18px;
    color: #1e293b;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.Navegador a:hover{
    color: #16a34a;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 90vh !important;
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.35)),
                url(imagenes/alberca1.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.title{
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
    text-transform: none;
    color: #1e293b;
}

.title1{
    font-size: 42px;
    font-weight: 700;
    color: white;
}

p{
    margin-bottom: 40px;
    
    color: #3f3f3f;
    padding: 0 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: initial;
    font-size: 18px;
    
}


.parrafo{
    color: #cfc7c7;
}

.btn:hover{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #3f3f3f;
    text-align: none;
    background-color: lightskyblue;
}

.btn-home{
    display: flex;
}
.btn-home a{
    margin: 0 10px;
}

.content{
height: 50vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.ul{
    color: lightskyblue;
    text-align: left;
}

li{
    color: #3f3f3f;
    text-align: left;
}

.sau{
    padding: 80px 20px;
    background: #f1f5f9;
}

.about{
    background: linear-gradient(135deg, #16a34a, #22c55e);
    color: white;
}
.galeria{
    color: whitesmoke;
    padding: 95px 115px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: initial;  
}


.contacto{
    background: lightskyblue;
    padding: 90px 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: initial;

}

.imagenes{
    flex-direction: row;
    border-radius: 50%;
}

.bg6 {
        width: 100%;
        
    }


@media (min-width:320px) and
(max-width: 700px) and (orientation:landscape)
{
.head{
        flex-direction:column;
}

.Navegador{
    padding: 10px 0px;
}

.title{
    margin-bottom: 120vh;
    font-size: 40px;
}

.sau{
height: 120vh;
   }

.navbar{
display: none;
}





















    
}
